body {
    background-image: linear-gradient(90DEG , rgba(18, 204, 229, 0.945) ,rgba(2, 239, 219, 0.201) , transparent);
}

   .cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20PX;
    flex-wrap: wrap;
} 
.img{ 
     height: 500px;
    width: 350px;
   
}
form{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #009624;
}

.par{
    width: 350px;
    margin: 10px;
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
.imgs{ 
     height:350px;
    width: 350px;
     }
